<div id="page-wrapper" style="min-height: 282px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Deploy</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Deploy
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#scriptdeploy" aria-expanded="true">Deploy</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#scriptsettings" aria-expanded="false">Script Settings</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="scriptdeploy" class="tab-pane fade in active" style="padding-top: 2%;">
                            <div class="col-lg-3">
                                <div id="deployAppListContainer"></div>
                            </div>
                            <div class="col-lg-9">
                                <div id="consoleLogContainer"></div>
                            </div>
                        </div>
                        <!--<div class="scriptsettingsContainer"></div>-->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
    <!-- /.col-lg-6 -->
</div>
