	   <div class="col-lg-5">
		   <form role="form">
				<div class="form-group">
					<label>Varable</label>
					<input class="form-control" id="var">
					<label>Value</label>
					<input class="form-control" id="val">
				</div>
				<button type="submit" class="submit-btn" class="btn btn-default">Submit</button>
				<button type="submit" class="cancel-btn" class="btn btn-default">Cancel</button>
		   </form>
	   </div>

